/*! #######################################################################

	MeanMenu 2.0.7
	--------

	To be used with jquery.meanmenu.js by Chris Wharton (http://www.meanthemes.com/plugins/meanmenu/)

####################################################################### */

/* hide the link until viewport size is reached */
a.meanmenu-reveal {
	display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
	float: left;
	width: 100%;
	padding: 3px 0;
	min-height: 0;
	z-index: 999999;
}

.mean-container .meanmenu-reveal {
	border-radius: 2px;
	display: block;
	height: 35px;
	position: absolute;
	right: 0px;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 40px;
}

.mean-container .meanmenu-reveal span {
	background: #23383B;
	border-radius: 4px;
	display: block;
	height: 3px;
	position: absolute;
	width: 35px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

.mean-container .meanmenu-reveal span:before,
.mean-container .meanmenu-reveal span:after {
	border-radius: 4px;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 9px;
	background: #23383B;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.3s, 0s;
	-moz-transition-delay: 0.3s, 0s;
	-ms-transition-delay: 0.3s, 0s;
	-o-transition-delay: 0.3s, 0s;
	transition-delay: 0.3s, 0s;
	-webkit-transition-property: top, transform;
	-moz-transition-property: top, transform;
	-ms-transition-property: top, transform;
	-o-transition-property: top, transform;
	transition-property: top, transform;
}

.mean-container .meanmenu-reveal span:after {
	top: -9px;
}

.mean-container .meanmenu-reveal.meanclose span:after {
	top: 0;
	-webkit-transition-delay: 0s, 0.3s;
	-moz-transition-delay: 0s, 0.3s;
	-ms-transition-delay: 0s, 0.3s;
	-o-transition-delay: 0s, 0.3s;
	transition-delay: 0s, 0.3s;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mean-container .meanmenu-reveal.meanclose span:before {
	top: 0;
	-webkit-transition-delay: 0s, 0.3s;
	-moz-transition-delay: 0s, 0.3s;
	-ms-transition-delay: 0s, 0.3s;
	-o-transition-delay: 0s, 0.3s;
	transition-delay: 0s, 0.3s;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.mean-container .meanmenu-reveal.meanclose span {
	background: transparent;
}

.mean-container .mean-nav ul li a.mean-expand::before {
	content: "\f107";
	font-family: FontAwesome;
	line-height: 1.4;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked::before {
	content: "\f106";
}


.mean-container .mean-nav {
	float: left;
	width: 100%;
}

.mean-container .mean-nav>ul {
	background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
	/*height: 200px;*/
	left: 15px;
	list-style-type: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 0;
	position: absolute;
	top: 56px;
	right: 15px;
	width: 100%;
}

.mean-container .mean-nav ul li {
	position: relative;
	float: left;
	width: 100%;
}

.mean-container .mean-nav ul li a {
	display: block;
	float: left;
	width: 92%;
	padding: 12px 4%;
	margin: 0;
	text-align: left;
	color: #fff;
	border-top: 1px solid #383838;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	text-decoration: none;
	text-transform: uppercase;
}

.mean-container .mean-nav ul li li a {
	width: 88%;
	padding: 12px 6%;
	/*opacity: 0.75;
	filter: alpha(opacity=75);*/
	text-shadow: none !important;
	visibility: visible;
	line-height: 1
}

.mean-container .mean-nav ul li.mean-last a {
	border-bottom: none;
	margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
	width: 84%;
	padding: 12px 8%;
}

.mean-container .mean-nav ul li li li li a {
	width: 80%;
	padding: 12px 10%;
}

.mean-container .mean-nav ul li li li li li a {
	width: 74%;
	padding: 12px 13%;
}

.mean-container .mean-nav ul li a:hover {
	color: rgb(255, 255, 255);
}

.mean-container .mean-nav ul li a.mean-expand {
	border: none;
	margin-top: 1px;
	width: 26px;
	height: 24px;
	padding: 9px 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
	font-weight: 700;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.mean-container .mean-nav ul li a.mean-expand:hover {
	background: #0F1F31;
}

.mean-container .mean-push {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	clear: both;
}

.mean-nav .wrapper {
	width: 100%;
	padding: 0;
	margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}


.mean-remove {
	display: none !important;
}
