/*  12.0 ===== Medias/Responsive =====   */

/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */

 @-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/* All Tablet Portrait size smaller than standard 1199 (devices and browsers) */

@media only screen and (max-width: 1199px) {
	.heading .entry-title {
		font-size: 26px;
	}

	.site-footer .widget-area {
		padding: 70px 0 25px;
	}
	.page-title {
		font-size: 40px;
	}

	.menu-top-menu-container > ul > li > a {
		padding: 15px 13px;
	}
	.site-footer .main-footer .container > .row.columns {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.slider-text .post-detail-wrap {
		padding-bottom: 0;
	}
}

/* All Tablet Portrait size smaller than standard 1023 (devices and browsers) */

@media only screen and (max-width: 1023px) {
	.main-navigation ul li ul {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		transition: all 0s ease 0s;
		-webkit-transition: all 0s ease 0s;
		-ms-transition: all 0s ease 0s;
		-moz-transition: all 0s ease 0s;
		border: none;
		overflow: hidden;
	}

	.main-navigation ul li ul,
	.main-navigation ul li:hover ul ul,
	.main-navigation ul ul li:hover ul ul,
	.main-navigation ul ul ul li:hover ul ul,
	.main-navigation ul ul ul ul li:hover ul ul {
		opacity: 1;
		visibility: visible;
		border: none;
		-webkit-transition: opacity 0s linear;
		transition: all 0s ease 0s;
		box-shadow: none
	}

	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current-page-ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current-page-item ul li a {
		background: rgba(0, 0, 0, 0);
		border-top: 1px solid rgba(255, 255, 255, 0.5);
		padding: 12px 6%;
		color: #fff;
	}
	.main-navigation .menu-item-has-children::before,
	.main-navigation .page_item_has_children::before {
		display: none;
	}
	.mean-container .mean-nav ul li a.mean-expand {
		border-left: 1px solid rgba(255, 255, 255, 0.3);
	}
	.mean-container a.meanmenu-reveal {
		position: relative;
		right: auto;
		left: auto;
		transform: translate(0%, 0%);
	}

	.main-navigation ul li ul li {
		border-bottom: none;
	}

	.mean-container .mean-nav>ul {
		left: 0;
		right: 0;
		width: 100%;
		top: 100% !important;
		z-index: 999;
	}
	.mean-container .mean-nav ul li a {
		border-color: rgba(255,255,255,0.5);
	}
	.menu-item-has-children:hover::before,
	.page_item_has_children:hover::before {
		display: none;
	}

	.menu-item-has-children::before,
	.page_item_has_children::before {
		display: none;
	}

	.main-navigation ul li:hover ul,
	.main-navigation ul ul li:hover ul,
	.main-navigation ul ul ul li:hover ul,
	.main-navigation ul ul ul ul li:hover ul,
	.main-navigation ul ul ul ul ul li:hover ul {
		transition: opacity 0s linear;
		-moz-transition: opacity 0s linear;
		-ms-transition: opacity 0s linear;
		-webkit-transition: opacity 0s linear;
	}

	.main-navigation ul li {
		margin: 0;
	}

	.mean-container .mean-nav ul li a {
		font-size: 14px;
	}


	.hgroup-wrap {
		padding: 10px 0;
	}

	.site-header .site-header-section-center .mobile-navbar .mean-container a.meanmenu-reveal {
	    left: auto !important;
	    right: auto !important;
	}

	.hgroup-right {
		width: 85%;
		width: calc(100% - 220px);
		width: -webkit-calc(100% - 220px);
		padding-left: 15px;
		position: relative;
		padding-right: 105px;
		min-height: 26px;
	}

	.navbar {
		position: static;
		width: 100%;
	}

	.main-header .column {
		position: static;
	}
	.site-description {
		margin-bottom: 4px;
	}
	.site-branding {
		position: relative;
	}
	#secondary {
		padding-top: 30px;
	}


.banner-slider .slider-item {
    min-height: 450px;
}


}

@media only screen and (max-width: 991px) {
	/*.site-branding {*/
	/*    width: 170px;*/
	/*}*/

	#secondary {
		margin-top: 35px;
	}

	.hgroup-right {
		width: 76%;
		width: calc(100% - 170px);
		width: -webkit-calc(100% - 170px);
	}

	.hgroup-contact-section li {
		padding: 0 5px;
	}

	.hgroup-contact-section li {
		font-size: 14px;
	}
	.heading .entry-title {
		font-size: 24px;
	}

	.related-post-section .row .custom-col-4 {
		width: 50%;
	}

	.related-post-section .row .custom-col-4:nth-child(2n+1) {
		clear: both;
	}
	.widget-area .row div[class*="custom-col"] {
		width: 50%;
	}
	.page-title {
		font-size: 32px;
	}

	.breadcrumbs li a,
	.breadcrumbs li span {
		font-size: 16px;
	}
	.contact-form-wrap {
		width: 60%;
		width: calc(100% - 290px);
		width: -webkit-calc(100% - 290px);
	}

	.contact-detail-wrapper {
		width: 260px;
	}

	.contact-detail-item h4 {
		font-size: 18px;
	}
	/*	.post-grid-view .post {
			width: 50%;
		}
	*/
	.post-filter-wrap>div {
		min-width: 33.3333%;
		margin-bottom: 10px;
	}

	.post-list-view .post .featured-image {
		width: 100%;
	}

	.post-list-view .post .post-detail-wrap {
		width: 100%;
	}
	.login-content-wrap {
		display: block;
	}

	.login-content {
		width: 100%;
	}

	.registration-content {
		width: 100%;
		margin-left: 0;
		padding: 15px;
	}

	.login-demo-box {
		padding: 15px;
	}

	.login-form {
		padding: 30px 15px 20px;
	}
	.entry-header.heading {
		margin-bottom: 20px;
	}

.woocommerce table.shop_table.wishlist_table.wishlist_view td {
  border-top: none !important;
}
.header-banner-section .slick-dots {
  bottom: 25px;
  left: 0;
}
#primary .post.has-portrait-layout .featured-image + .entry-content-wrap ,
.single-page-wrapper #primary .post.has-portrait-layout .featured-image + .entry-header {
  padding-left: 30px;
}


}

@media only screen and (max-width: 767px) {
.woocommerce table.shop_table {
  border-top: 1px solid rgba(0,0,0,0.1) !important;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
  top: 17px;
}
.wishlist_table.mobile li {
  margin-bottom: 17px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  display: block !important;
  box-shadow: none !important;
  margin: 0 !important;
  border: none;
  border-radius: 0 !important;
  background: none !important;
  padding: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  display: block;
  border: 1px solid;
  padding: 10px;
}
.woocommerce div.product .wooe-tabs ul.tabs li a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: var(--color-accent) !important;
  border-top: none;
}
.woocommerce div.product .wooe-tabs ul.tabs li.active a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  background: var(--color-accent) !important;
  color: var(--color-2) !important;
  border: 1px solid var(--color-accent);
}
.woocommerce div.product .wooe-tabs ul.tabs li:first-child a, 
.woocommerce div.product .woocommerce-tabs ul.tabs li:first-child a {
  border-top: 1px solid var(--color-accent);;
}
.banner-slider .slider-item {
	min-height: 400px;
}

.post .post-detail-wrap .entry-header {
  padding-bottom: 10px;
}

}

/* All Mobile Portrait size smaller than 720 (devices and browsers) */

@media only screen and (max-width: 719px) {
	.top-header .site-header-row {
		display: block;
	}
	#secondary {
		margin-top: 35px;
	}

	.custom-col-1,
	.custom-col-2,
	.custom-col-3,
	.custom-col-4,
	.custom-col-5,
	.custom-col-6,
	.custom-col-7,
	.custom-col-8,
	.custom-col-9,
	.custom-col-10,
	.custom-col-11,
	.custom-col-12 {
		float: none;
		width: 100%;
	}

	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width: 50%;
	}

	.hgroup-right {
		width: 100%;
		margin-top: 20px;
		padding-right: 0;
		padding-left: 0;
	}

	.hgroup-contact-section {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.top-header-wrap {
		display: block;
		text-align: center;
	}

	.top-header-left {
		padding-right: 0;
		text-align: center;
		border-bottom: 1px solid #E5E6EB;
	}

	.top-header-wrap>div {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.top-header-wrap li a,
	.top-header-wrap .social-links li a {
		padding: 12px 15px;
	}
	.slider-text .post-tags-wrap {
		top: -25px;
	}

	.slider-text .post {
		max-width: 100%;
	}

	.slick-dots {
		bottom: 0;
	}

	.widget-area .row div[class*="custom-col"] {
		width: 50%;
		float: left;
	}

	.widget-area .row div[class*="custom-col"]:nth-child(2n+1) {
		clear: both;
	}

	.site-footer .widget-area {
		padding: 50px 0 20px;
	}

	.top-header-right {
		padding-left: 0;
	}

	.top-header .top-header-wrap ul li {
		margin: 0 -2px;
	}

	.page-title {
		font-size: 28px;
	}

	.contact-information-wrap {
		display: block;
		margin-bottom: 30px;
	}

	.contact-form-wrap {
		width: 100%;
		margin: 0;
		padding-bottom: 5px;
		margin-bottom: 30px;
	}

	.contact-detail-wrapper {
		width: 100%;
	}
	.post-grid-view .post {
		width: 100%;
		padding: 0
	}
	.post-wrapper.post-grid-view {
		display: block;
		margin: 0;
	}
	.post-wrapper.post-grid-view.row{
		margin: 0 -15px;
	}
	.post-layout-wrap {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin-top: 10px;
	}
	.related-post-section .row .custom-col-4 {
		width: 100%;
	}
	.single-post-wrapper .post .entry-title {
		font-size: 24px;
	}

	h3,
	h4 {
		font-size: 18px;
	}

	#secondary .widget {
		margin-bottom: 30px;
	}
	.top-header .column {
		border-bottom: 1px solid;
	}
	.top-header .column:last-child {
		border-bottom: none;
	}
	.site-description {
		margin-bottom: 0;
	}
	.heading .entry-title,
	.subscribe-form-wrapper > h2 {
		font-size: 22px;
	}
	.entry-title {
		font-size: 20px;
	}
	.tab-links li a {
		font-size: 16px;
	}
	.tab-links {
		margin-bottom: 20px;
	}
	.author-designation {
		font-size: 15px;
	}
	.author-name,
	.subscribe-form-wrapper > p{
		font-size: 18px
	}
	.site-footer .main-footer .container > .row.columns {
		padding-top: 50px;
		padding-bottom: 30px;
	}
	.site-footer .top-footer .container > .row.columns {
		padding-bottom: 20px;
	}
	.site-footer .footer-buttons-wrap li h3 {
		font-size: 20px;
		padding-bottom: 10px;
	}
	.site-footer .footer-buttons-wrap li .icon {
		margin-bottom: 10px;
	}
	.page .site-header .page-title-wrap {
		padding-top: 50px;
		padding-bottom: 35px;
	}
	.bottom-footer {
		text-align: center;
	}
	#secondary {
		padding-top: 0;
	}
	.wpcf7 #submit-button {
		margin-bottom: 0;
	}
	.post-filter-wrap{
		margin-bottom: 15px;
	}
	.site-header .justify-content-center .header-search-section .search-form {
		left: -170px;
		top: 50px;
	}
	.site-header-section > * {
		padding: 0 5px;
	}
	.top-header .site-header-row {
		display: block;
	}
.header-banner-section .slider-text .post {
    max-width: 100%;
	margin-bottom: 0;
}
.banner-slider .slider-item .read-more-wrap {
    margin-top: 20px;
}
.header-banner-section .slider-text .post .post-detail-wrap{
	border-bottom: none;
}
.banner-slider .entry-title a {
    font-size: 35px;
}
.main-header {
    padding: 10px 0;
}
.post .post-detail-wrap .entry-title {
  font-size: 24px;
}
#primary .post {
  margin-bottom: 50px;
}
#primary .post.has-landscape-layout .post-detail-wrap .entry-content-wrap {
  padding: 30px 0 10px;
}




}

@media only screen and (max-width: 575px) {

	body,
	.box-button,
	.wpcf7-submit[type="submit"],
	input[type="submit"],
	.main-navigation li a,
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current-page-ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current-page-item ul li a {
		font-size: 15px
	}

	.hgroup-right {
		display: none;
	}
	.widget-area .row div[class*="custom-col"] {
		width: 100%;
		float: none;
	}
	.entry-header.heading {
		margin-bottom: 15px;
	}

	.page-title {
		font-size: 24px;
	}
	.post-layout-matches-wrap {
		margin-bottom: 20px;
	}

	.post-filter-wrap>div {
		min-width: 50%;
		margin-bottom: 10px;
	}

	.login-section {
		margin-bottom: 30px;
	}
	.single-post-wrapper .post .entry-title {
		font-size: 22px;
	}


	.hgroup-wrap {
		padding: 15px 0;
		min-height: 60px;
	}


	.nav-previous {
		float: none;
		width: 100%;
		margin-bottom: 10px;
	}

	.nav-next {
		float: none;
		width: 100%;
	}

	.comment-reply-title {
		font-size: 20px;
		margin-bottom: 15px;
	}
	.site-title {
		font-size: 20px;
	}
	.site-description {
		font-size: 13px;
	}
	.site-header .main-header .container > .row.columns {
		padding-top: 15px;
	}
	.widget-title,
	.widget_block .wp-block-group__inner-container h2,
	.widget_block h2, 
	.widget_block.widget_search .wp-block-search__label {
		font-size: 18px;
	}
	.site-header .justify-content-center .header-search-section .search-form {
		left: -105px;
	}
	.site-header .search-form {
		width: 250px;
	}

.banner-slider .entry-title a {
    font-size: 26px;
}

.banner-slider .slider-item .read-more-wrap {
    margin-top: 10px;
}
.post-detail-wrap,
.post-detail-wrap .entry-header-wrap {
  display: block;
}
#primary .post.has-landscape-layout .post-detail-wrap .entry-content-wrap,
#primary .post.has-portrait-layout .featured-image + .entry-content-wrap,
.single-page-wrapper #primary .post.has-portrait-layout .featured-image + .entry-header ,
.post-detail-wrap .entry-content-wrap{
	padding: 30px 0 10px;
	width: 90%;
	margin: 0 auto;
}
#primary .post.has-portrait-layout .post-detail-wrap .featured-image,
#primary .post.has-portrait-layout .post-detail-wrap .featured-image {
	width: 100%;
}
.site-branding {
  display: block;
}
.site-branding .site-logo {
  margin-bottom: 5px;
}
.site-header .site-branding .site-logo .custom-logo {
  max-width: 150px;
}
.single-page-wrapper #primary .post.has-portrait-layout .featured-image + .entry-header {
  padding-bottom: 0;
}
#primary .post.no-featured-image .post-detail-wrap .entry-content-wrap,
#primary .post.no-featured-image .post-detail-wrap .entry-header-wrap .entry-header{
	padding: 0;
	margin: 0;
	width: 100%;
}

}

/* All Mobile size smaller than standard 479 (devices and browsers) */

@media only screen and (max-width: 479px) {

	body,
	.box-button,
	.wpcf7-submit[type="submit"],
	input[type="submit"],
	.main-navigation li a,
	.main-navigation ul li ul li a,
	.main-navigation ul li.current-menu-item ul li a,
	.main-navigation ul li ul li.current-menu-item a,
	.main-navigation ul li.current-page-ancestor ul li a,
	.main-navigation ul li.current-menu-ancestor ul li a,
	.main-navigation ul li.current-page-item ul li a {
		font-size: 14px
	}

	.top-header-wrap .social-links li a {
		min-width: 40px;
	}

	.top-header-wrap li a,
	.top-header-wrap .social-links li a {
		padding: 12px 10px;
	}

	.heading .entry-title {
		font-size: 20px;
	}

	.entry-title {
		font-size: 18px;
	}
	.subscribe-form-wrapper>h2 {
		font-size: 20px;
	}

	.subscribe-form-wrapper>p {
		font-size: 18px;
	}

	.mc4wp-form input {
		padding: 8px 120px 8px 20px;
	}
	.breadcrumbs li a,
	.breadcrumbs li span {
		font-size: 14px;
	}

	.contact-form-wrap {
		padding: 15px;
		padding-bottom: 5px;
	}

	.contact-detail-wrapper {
		padding: 15px;
	}
	.contact-input-section {
		display: block;
		margin: 0;
	}

	.contact-input-section p {
		width: 100%;
		padding: 0;
	}

	.wpcf7-form p {
		margin: 0 0 15px;
	}
	.site-footer .widget-title {
		font-size: 18px;
	}
	.post-matches-wrap {
		font-size: 18px;
	}

	.post-layout-wrap>div {
		margin-bottom: 7px;
	}

	.post-filter-wrap {
		margin: 20px -5px;
	}

	.input-has-two-child {
		display: block;
		margin: 0;
	}

	.input-has-two-child>p {
		width: 100%;
		padding: 0;
	}
	.single-post-wrapper .post .entry-title {
		font-size: 20px;
	}
	.mean-container .meanmenu-reveal span {
		width: 28px;
	}

	input, textarea, select {
		font-size: 14px;
	}
	.tab-links li a {
		font-size: 14px;
	}
	.cat-links a {
		margin: 0 4px 5px 0;
		font-size: 13px;
	}
	.subscribe-form-wrapper > h2 {
		font-size: 19px;
	}
	.site-footer .top-footer .container > .row.columns {
		padding-bottom: 15px;
		padding-top: 35px;
	}
	.site-footer .footer-buttons-wrap li h3 {
		font-size: 18px;
	}
	.site-footer .main-footer .container > .row.columns {
		padding-top: 40px;
		padding-bottom: 15px;
	}
	.page .site-header .page-title-wrap {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.page-title {
		font-size: 22px;
	}
	.post-item-wrapper .post .entry-meta > div,
	#primary .post .entry-meta > div {
		margin-bottom: 7px;
	}
	.blogin-aarambha-blog .post .entry-meta > div {
		padding-left: 12px;
	}
	h3, h4 {
		font-size: 17px;
	}
	.contact-input-section p input,
	.wpcf7 p textarea {
		margin-bottom: 0;
	}

.header-banner-section .slider-text .post .post-detail-wrap {
    border-bottom: none;
    padding: 0;
}

.blogin-aarambha-blog .post .entry-meta > div {
    padding-left: 0;
}
.blogin-aarambha-blog .post .entry-meta > div::before {
  right: 5px;
}
h2 {
    font-size: 22px;
}
.commentlist {
    padding-left: 10px;
}
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last {
  width: 100%;
}
.comment-reply-title {
  font-size: 16px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0 !important;
}

.banner-slider .slider-item {
    min-height: 300px;
}
.header-banner-section .slick-dots {
	padding: 0 15px;
	bottom: 10px;
  }
#primary .post.has-landscape-layout .post-detail-wrap .entry-content-wrap, 
#primary .post.has-portrait-layout .featured-image + .entry-content-wrap,
.single-page-wrapper #primary .post.has-portrait-layout .featured-image + .entry-header {
  padding: 20px 0 10px;
}
.post .post-detail-wrap .entry-title {
  font-size: 20px;
  padding-bottom: 10px;
}
.post .post-detail-wrap .entry-header {
  padding-bottom: 0;
}
#primary .post {
  margin-bottom: 30px;
}
.post .post-detail-wrap .read-more-wrap {
  padding-top: 0;
}
.entry-title {
  font-size: 20px;
}

  
}


@media only screen and (max-width: 340px) {

.site-header .mobile-navbar .mean-container a.meanmenu-reveal {
  padding: 0;
  width: 30px;
}

}