/*
Theme Name: blogin-aarambha

WooCommerce styles override
*/

/**
 * Shop tables
 */
table.shop_table_responsive thead {
    display: none;
}

table.shop_table_responsive tbody th {
    display: none;
}

table.shop_table_responsive tr td {
    display: block;
    text-align: right;
    clear: both;
}

table.shop_table_responsive tr td::before {
    content: attr(data-title) ": ";
    float: left;
}

table.shop_table_responsive tr td.product-remove a {
    text-align: left;
}

table.shop_table_responsive tr td.product-remove::before {
    display: none;
}

table.shop_table_responsive tr td.actions::before,
table.shop_table_responsive tr td.download-actions::before {
    display: none;
}

table.shop_table_responsive tr td.download-actions .button {
    display: block;
    text-align: center;
}

@media screen and (min-width: 48em) {

    table.shop_table_responsive thead {
        display: table-header-group;
    }

    table.shop_table_responsive tbody th {
        display: table-cell;
    }

    table.shop_table_responsive tr th,
    table.shop_table_responsive tr td {
        text-align: left;
    }

    table.shop_table_responsive tr td {
        display: table-cell;
    }

    table.shop_table_responsive tr td::before {
        display: none;
    }
}

/**
 * Products
 */
ul.products {
    margin: 0;
    padding: 0;
}

ul.products li.product {
    list-style: none;
    position: relative;
    margin-bottom: 2em;
}

ul.products li.product img {
    display: block;
}

ul.products li.product .button {
    display: block;
}

@media screen and (min-width: 48em) {

    ul.products li.product {
        width: 30.79667%;
        float: left;
        margin-right: 3.8%;
    }

    ul.products li.product.first {
        clear: both;
    }

    ul.products li.product.last {
        margin-right: 0;
    }

    ul.products.columns-1 li.product {
        float: none;
        width: 100%;
    }

    ul.products.columns-2 li.product {
        width: 48.1%;
    }

    ul.products.columns-3 li.product {
        width: 30.79667%;
    }

    ul.products.columns-4 li.product {
        width: 22.15%;
    }

    ul.products.columns-5 li.product {
        width: 16.96%;
    }

    ul.products.columns-6 li.product {
        width: 13.49333%;
    }
}

/**
 * Single product
 */
.single-product div.product {
    position: relative;
}

.single-product div.product .woocommerce-product-gallery {
    position: relative;
    float: left;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 2em;
    right: 1em;
    display: block;
    z-index: 99;
}

.single-product div.product .woocommerce-product-gallery .flex-viewport {
    margin-bottom: 1em;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    margin: 0;
    padding: 0;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li {
    list-style: none;
    cursor: pointer;
    float: left;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    opacity: 0.5;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img.flex-active {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li:hover img {
    opacity: 1;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li {
    width: 48.1%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-2 .flex-control-thumbs li:nth-child(2n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li {
    width: 30.79667%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-3 .flex-control-thumbs li:nth-child(3n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 22.15%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li:nth-child(4n+1) {
    clear: both;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 16.96%;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n) {
    margin-right: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li:nth-child(5n+1) {
    clear: both;
}

.stock:empty::before {
    display: none;
}

.stock.in-stock {
    color: #0f834d;
}

.stock.out-of-stock {
    color: #e2401c;
}

/**
 * Checkout
 */
@media screen and (min-width: 768px) {

    .col2-set .form-row-first {
        float: left;
        margin-right: 3.8%;
    }

    .col2-set .form-row-last {
        float: right;
        margin-right: 0;
    }

    .col2-set .form-row-first,
    .col2-set .form-row-last {
        width: 48.1%;
    }
}

/**
 * General WooCommerce components
 */

/**
 * Header cart
 */
.site-header-cart {
    position: relative;
    margin: 0;
    padding: 0;
}

.site-header-cart .cart-contents {
    text-decoration: none;
}

.site-header-cart .widget_shopping_cart {
    display: none;
}

.site-header-cart .product_list_widget {
    margin: 0;
    padding: 0;
}

/**
 * Star rating
 */
.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    width: 5.3em;
    font-family: star;
    font-weight: 400;
}

.star-rating::before {
    content: "\53\53\53\53\53";
    opacity: 0.25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.star-rating span::before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
    color: #4169e1;
}

p.stars a {
    position: relative;
    height: 1em;
    width: 1em;
    text-indent: -999em;
    display: inline-block;
    text-decoration: none;
    margin-right: 1px;
    font-weight: 400;
}

p.stars a::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: star;
    content: "\53";
    color: #404040;
    text-indent: 0;
    opacity: 0.25;
}

p.stars a:hover ~ a::before {
    content: "\53";
    color: #404040;
    opacity: 0.25;
}

p.stars:hover a::before {
    content: "\53";
    color: #4169e1;
    opacity: 1;
}

p.stars.selected a.active::before {
    content: "\53";
    color: #4169e1;
    opacity: 1;
}

p.stars.selected a.active ~ a::before {
    content: "\53";
    color: #404040;
    opacity: 0.25;
}

p.stars.selected a:not(.active)::before {
    content: "\53";
    color: #4169e1;
    opacity: 1;
}

/**
 * Tabs
 */
.woocommerce-tabs ul.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.woocommerce-tabs ul.tabs li {
    display: block;
    margin: 0;
    position: relative;
}

.woocommerce-tabs ul.tabs li a {
    padding: 1em 0;
    display: block;
}

.woocommerce-tabs .panel h2:first-of-type {
    margin-bottom: 1em;
}

/**
 * Password strength meter
 */
.woocommerce-password-strength {
    text-align: right;
}

.woocommerce-password-strength.strong {
    color: #0f834d;
}

.woocommerce-password-strength.short {
    color: #e2401c;
}

.woocommerce-password-strength.bad {
    color: #e2401c;
}

.woocommerce-password-strength.good {
    color: #3d9cd2;
}

/**
 * Forms
 */
.form-row.woocommerce-validated input.input-text {
    box-shadow: inset 2px 0 0 #0f834d;
}

.form-row.woocommerce-invalid input.input-text {
    box-shadow: inset 2px 0 0 #e2401c;
}

.required {
    color: #f00;
}

/**
 * Notices
 */
.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
    background-color: #0f834d;
    clear: both;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: #3d9cd2;
}

.woocommerce-error {
    background-color: #e2401c;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 1em;
    background-color: #3d9cd2;
    z-index: 9999;
}

@media screen and (min-width: 48em) {

    /**
     * Header cart
     */
    .site-header-cart .widget_shopping_cart {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 999999;
        left: -999em;
        display: block;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }

    .site-header-cart:hover .widget_shopping_cart,
    .site-header-cart.focus .widget_shopping_cart {
        left: 0;
        display: block;
    }
}

/**
 * WooCommerce widgets
 */

/**
 * WooCommerce Price Filter
 */
.widget_price_filter .price_slider {
    margin-bottom: 1.5em;
}

.widget_price_filter .price_slider_amount {
    text-align: right;
    line-height: 2.4;
}

.widget_price_filter .price_slider_amount .button {
    float: left;
}

.widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    cursor: ew-resize;
    outline: none;
    background: #4169e1;
    box-sizing: border-box;
    margin-top: -0.25em;
    opacity: 1;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
    margin-left: -1em;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover,
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
    box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    display: block;
    border: 0;
    background: #4169e1;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
    height: 0.5em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
    height: 100%;
}




/* new style from here */
.header-wc-cart-wrap .wc-cart-wrapper .wc-cart-widget-wrapper {
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 300px;
    z-index: 9;
    background: var(--wc-content-bg);
    padding: 15px 15px 5px;
}
.site-header-section-right .header-wc-cart-wrap .wc-cart-wrapper .wc-cart-widget-wrapper {
    right: 0;
}
.header-wc-cart-wrap .wc-cart-wrapper .wc-cart-icon-wrapper:hover + .wc-cart-widget-wrapper {
    opacity: 1;
    visibility: visible;
}
.header-wc-cart-wrap .wc-cart-wrapper:hover .wc-cart-widget-wrapper,
.header-wc-cart-wrap .wc-cart-wrapper:focus-within .wc-cart-widget-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
}
.woocommerce span.onsale {
    background: var(--color-accent);
    border-radius: 0;
    height: 35px;
    width: 50px;
    min-width: auto;
    min-height: auto;
    line-height: 31px;
}
.woocommerce ul.products li.product .onsale{
    left: 10px;
    right: auto;
    top: 15px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button{
    background: var(--color-bg-3);
    color: var(--color-btn);
    border: 0;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce a.added_to_cart:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover{
    background-color: var(--color-accent-secondary);
    color: var(--color-btn);
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
    color: var(--color-accent);
}
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3 {
    font-size: 20px;
    color: var(--color-link);
}
.woocommerce ul.products li.product a.added {
    display: none;
}
.woocommerce a.added_to_cart {
    display: block;
    margin-top: 1em;
    padding: .618em 1em;
    background: var(--color-accent);
    color: var(--wc-primary-text);
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce div.product .woocommerce-tabs ul.tabs li  {
    background: var(--color-accent);
    color: var(--wc-primary-text);
}
.woocommerce nav.woocommerce-pagination ul li,
.woocommerce nav.woocommerce-pagination ul {
    border-color:var(--color-accent);
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active{
    color: var(--color-accent);
}
.woocommerce-message::before ,
.woocommerce-info::before{
    color: var(--color-accent);
}
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    padding: 7px 6px 7px;
    height: auto;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: var(--color-accent);
}
.woocommerce div.product form.cart div.quantity {
    float: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border-color: var(--color-accent);
}
.woocommerce div.product .wooe-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    color: var(--wc-highligh-text);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    box-shadow: 2px 2px 0 var(--color-accent);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
    box-shadow: -2px 2px 0 var(--color-accent);
}
.woocommerce-noreviews,
p.no-comments {
    background: var(--color-accent);
    color: var(--wc-highligh-text);
    padding: 5px 10px;
}
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
    clear: both;
    background: #EFEDED;
}
.woocommerce-message ,
.woocommerce-info{
    border-top-color: var(--color-accent);
}
.woocommerce-error,
.woocommerce-info {
    padding-left: 28px;
}
.woocommerce-error::before,
.woocommerce-info::before{
    left: 6px;
}
.woocommerce a.remove {
    text-align: center !important;
}
.woocommerce-checkout .wc-cart-widget-wrapper {
    display: none;
}
.product-gallery-summary {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
}
.product-gallery-summary .summary.entry-summary {
    padding-left: 4%;
}
.product-gallery-summary .onsale {
    top: 10px !important;
    left: 10px !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
    padding: 0;
}
.woocommerce table.shop_attributes td {
    padding: 0 13px;
}
.woocommerce-Tabs-panel--additional_information .woocommerce table.shop_attributes {
    padding: 0;
}


@media only screen and (max-width: 767px) {
.woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, 
.woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
    border-top: 1px solid rgba(0,0,0,.1);
}

}


@media only screen and (max-width: 576px) {
.woocommerce-result-count,
.woocommerce .woocommerce-ordering, 
.woocommerce-page .woocommerce-ordering {
    min-width: 100%;
    float: none;
}
.woocommerce-sorting-wrapper {
    display: block;
}
.woocommerce ul.products[class*="columns-"] li.product, 
.woocommerce-page ul.products[class*="columns-"] li.product {
    width: 100%;
    float: none;
    clear: none;
}
.woocommerce #content div.product div.images, 
.woocommerce #content div.product div.summary, 
.woocommerce div.product div.images, 
.woocommerce div.product div.summary, 
.woocommerce-page #content div.product div.images, 
.woocommerce-page #content div.product div.summary, 
.woocommerce-page div.product div.images, 
.woocommerce-page div.product div.summary {
    min-width: 100%;
}
.product-gallery-summary {
    display: block;
}
.product-gallery-summary .summary.entry-summary {
    padding-left: 0;
}


}


@media only screen and (max-width: 479px) {

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    padding: 0 9px;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: 0 0 0 40px;
    padding: 8px 8px 0;
}

}