.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list {
  zoom: 1;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list:before {
  content: '';
  display: block;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px;
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 520px) {
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature:nth-of-type(4n + 1) {
    padding-left: 0;
    clear: left;
  }
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature:nth-of-type(4n) {
    padding-right: 0;
  }
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-top {
  text-align: center;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-top .sow-icon-container {
  margin-bottom: 10px;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-right {
  text-align: left;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-right .sow-icon-container {
  margin-right: 10px;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-left {
  text-align: left;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-left .sow-icon-container {
  margin-left: 10px;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-bottom {
  text-align: center;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-icon-container-position-bottom .sow-icon-container {
  margin-top: 10px;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature .sow-icon-container {
  font-size: 48px;
  height: 48px;
  text-decoration: none;
  width: 48px;
  flex: 0 0 48px;
  margin: auto;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature .sow-icon-container:not(.sow-container-none) [class^="sow-icon-"],
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature .sow-icon-container .sow-icon-image {
  align-items: center;
  color: #fff;
  display: flex;
  height: 48px;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 48px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature h5 {
  margin: 1em 0;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature h5 a {
  color: inherit;
  text-decoration: none;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature h5 a:hover {
  text-decoration: underline;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature p.sow-more-text a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature p.sow-more-text a:hover {
  text-decoration: underline;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature p:last-child {
  margin-bottom: 0;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature.sow-features-feature-last-row {
  margin-bottom: 0;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature .textwidget {
  
  
  
  margin: auto;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Roboto;
  font-weight: 700;
  color: #404040;
  font-size: 18px;
  
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature p.sow-more-text a {
  color: inherit;
  font-weight: 500;
  text-decoration: none;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-feature p.sow-more-text a:hover {
  text-decoration: underline;
}
.so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list .sow-features-clear {
  clear: both;
}
@media (max-width: 520px) {
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive {
    margin: 0;
  }
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive .sow-features-feature {
    display: block !important;
    float: none !important;
    margin-bottom: 40px;
    width: 100% !important;
  }
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive .sow-features-feature:last-child {
    margin-bottom: 0px;
  }
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive .sow-features-clear {
    clear: none;
  }
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive .sow-icon-container-position-left .sow-icon-container,
  .so-widget-sow-features-default-d0b203eb45a6-9 .sow-features-list.sow-features-responsive .sow-icon-container-position-right .sow-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}