.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container h2.sow-headline {
  font-family: Roboto;
  font-weight: 700;
  
  text-align: left;
  color: #21282f;
  line-height: 1.4em;
  font-size: 29px;
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container h2.sow-headline {
    text-align: left;
  }
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container h2.sow-headline a {
  color: #21282f;
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container p.sow-sub-headline {
  font-family: Open Sans;
  font-weight: 400;
  
  text-align: left;
  color: #7b7c7e;
  line-height: 1.4em;
  font-size: 16px;
  
  
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container p.sow-sub-headline {
    text-align: left;
  }
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container p.sow-sub-headline a {
  color: #7b7c7e;
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container .decoration {
  line-height: 0em;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 780px) {
  .so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container .decoration {
    text-align: left;
  }
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container .decoration .decoration-inside {
  height: 1px;
  display: inline-block;
  border-top: 1px none #eeeeee;
  width: 100%;
  max-width: 80%;
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container *:first-child {
  margin-top: 0 !important;
}
.so-widget-sow-headline-default-5c4f1c4b7177-9 .sow-headline-container *:last-child {
  margin-bottom: 0 !important;
}