.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base {
  zoom: 1;
}
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base:before {
  content: '';
  display: block;
}
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base.ow-button-align-center.ow-button-align-justify a {
    display: inline-block;
  }
}
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Open Sans;
  
  
  font-size: 1em;
  padding: 1em 2em;
  background: transparent;
  border: 2px solid #1b9cae;
  color: #1b9cae !important;
  -webkit-border-radius: 0.5px;
  -moz-border-radius: 0.5px;
  border-radius: 0.5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base a:active,
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-wire-28bbdba364be-9 .ow-button-base a.ow-button-hover:hover {
  background: #1b9cae;
  border-color: #1b9cae;
}