/*--------------------------------------------------------------
# Backend Setting Page
--------------------------------------------------------------*/
.metabox-container::before,
.metabox-container::after {
    content: '';
    clear: both;
    display: table;
}

.flex {
    display: flex;
}

.blogasm-info-wrapper {
    justify-content: space-between;
}

.blogasm-info-wrapper .blogasm-left-wrap,
.blogasm-info-wrapper .blogasm-right-wrap {
    width: calc(50% - 30px);
}

.blogasm-info-wrapper .blogasm-right-wrap img {
    width: 100%;
    max-width: 520px;
    height: auto;
}

.blogasm-info-wrapper h1 {
    font-size: 3em;
    line-height: 1.2;
}

.blogasm-info-wrapper h4 {
    font-size: 1.5em;
}

.blogasm-info-wrapper p {
    margin-top: 2.5em;
    font-size: 15px;
    line-height: 1.8;
}

.metabox-settings-tabs {
    margin-top: 6px;
}

.metabox-settings-tabs section {
    border-bottom: 1px solid #ddd;
}

.metabox-settings-tabs section:nth-last-of-type(1) {
    border-bottom: 0;
}

.metabox-tab-nav {
    margin: 0;
    padding: 0 0 0 4px;
    list-style: none;
}

.metabox-tab-nav .tab-link {
    display: inline-block;
    padding: 10px 18px;
    border: 1px solid #e6e6e6;
    border-right: 0;
    margin-bottom: -1px;
    margin-left: -4px;
    font-weight: 500;
    background: none;
    color: #222;
    cursor: pointer;
}

.metabox-tab-nav .tab-link:nth-last-of-type(1) {
    border-right: 1px solid #e6e6e6;
}

.metabox-tab-nav .tab-link.active {
    border-bottom-color: #f4f4f4;
    background: #f4f4f4;
    color: #222;
}

.setting-tab {
    display: none;
    border: 1px solid #e6e6e6;
    background: #f4f4f4;
    padding: 15px;
}

.setting-tab.active{
    display: inherit;
}

.setting-tab table {
    border-spacing: 0;
}

.setting-tab table tbody {
    display: block;
    border: 1px solid #d0d0d0;
}

.setting-tab table tbody td {
    border-bottom: 1px solid #d0d0d0;
    text-align: center;
    padding: 0 20px;
    height: 40px;
}

.setting-tab table tbody tr:nth-of-type(1) td {
    font-size: 18px;
    font-weight: 500;
}

.setting-tab table tbody tr:nth-last-of-type(1) td {
    border-bottom: 0;
}

.setting-tab table tbody tr td:nth-of-type(1) {
    text-align: left;
    font-weight: 500;
}

.setting-tab .dash-green {
    color: #5ad15a;
    font-size: 28px;
    height: auto;
    width: auto;
}

.setting-tab .dash-red {
    color: #fc6f6f;
    font-size: 28px;
    height: auto;
    width: auto;
}

/*--------------------------------------------------------------
# MetaBox Wrap
--------------------------------------------------------------*/
.meta-box-wrap section {
    margin-bottom: 10px;
}

.meta-box-wrap section:nth-last-of-type(1) {
    margin-bottom: 0;
}

.meta-box-wrap .input-holder {
    margin-bottom: 18px;
}

.meta-box-wrap .input-holder:nth-last-of-type(1) {
    margin-bottom: 20px;
}

.meta-box-wrap .input-label {
    margin-bottom: 5px;
}

.meta-box-wrap .input-label label {
    font-weight: 500;
    cursor: auto;
}

.meta-box-wrap .input-field select {
    width: 100%;
    max-width: 320px;
    height: 32px;
    padding: 0 6px;
    box-shadow: none;
}

.meta-box-wrap .input-field input[type="text"],
.meta-box-wrap .input-field input[type="number"],
.meta-box-wrap .input-field input[type="url"],
.meta-box-wrap .input-field textarea {
    width: 100%;
    border: 1px solid #d0d0d0;
    box-shadow: none;
    padding: 5px 10px;
    border-radius: 2px;
}

.meta-box-wrap .input-field textarea {
    min-height: 120px;
}

.meta-box-wrap .input-w-60 {
    max-width: 60px !important;
}

.meta-box-wrap .input-w-120 {
    max-width: 120px !important;
}

.meta-box-wrap .input-w-240 {
    max-width: 240px !important;
}

.meta-box-wrap .input-w-320 {
    max-width: 320px !important;
}

.meta-box-wrap .input-w-480 {
    max-width: 480px !important;
}

.meta-box-wrap .sortable-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 17px;
    color: #444;
    background: #fff;
}

.meta-box-wrap .sortable-row:hover {
    color: #59595b;
    cursor: move;
}

.meta-box-wrap .input-field .button {
    border: 0;
    color: #fff;
    background: #717173;
    box-shadow: none;
    vertical-align: top;
    margin-bottom: 11px;
}

.meta-box-wrap .input-field .button:hover {
    background: #59595b;
}

.meta-box-wrap a.button.remove-li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 35px;
    z-index: 99;
    width: 32px;
    height: 32px;
    padding-top: 4px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 12px;
    line-height: 1;
    color: #444;
    background: #fff;
    transition: all .35s;
}

.meta-box-wrap a.button.remove-li:hover {
    color: #fff;
    background: #ee796e;
}

.meta-box-wrap .shortcode-wrap {
    background: #f6f6f6;
    padding: 10px 25px;
    display: inline-block;
    border: 2px dashed #b7b7b9;
}

.meta-box-wrap .button-field {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-bottom: 15px;
    background: #e7e7e7;
}

.meta-box-wrap .button-field .button-link-target {
    width: 250px;
}

.meta-box-wrap .button-field input[type=checkbox] {
    margin-top: 0;
    margin-left: 10px;
}

.meta-box-wrap .button-field.empty-button-li {
    display: none;
}

.meta-box-wrap .visible-on span {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 15px;
}

#post_meta_fields .metabox-reset-settings {
    margin-top: 7px
}

#post_meta_fields .metabox-reset-settings .metabox-reset-btn {
    display: block;
    float: left
}

#post_meta_fields .metabox-reset-settings .metabox-reset-checkbox {
    float: left;
    display: none;
    margin-left: 10px;
    padding-top: 5px
}

/*--------------------------------------------------------------
# Page/Post Layout Selector
--------------------------------------------------------------*/
.image-radio-layout input[type="radio"]{
    display: none;
}

.image-radio-layout label {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 160px;
    border: 2px solid #E3E3E4;
    margin-top: 18px;
    margin-right: 20px;
    transition: .5s;
}

.image-radio-layout label.has-right-sidebar {
    margin-right: 0;
}

.image-radio-layout input[type="radio"]:checked+label {
    border-color: #3498DB;
}

.image-radio-layout label::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-radio-layout label.has-default::before {
    background: url("../images/default-sidebar.svg") no-repeat;
}

.image-radio-layout label.has-left::before {
    background: url("../images/left-sidebar.svg") no-repeat;
}

.image-radio-layout label.has-none::before {
    background: url("../images/no-sidebar.svg") no-repeat;
}
.image-radio-layout label.has-right::before {
    background: url("../images/right-sidebar.svg") no-repeat;
}
.image-radio-layout label.has-portrait::before {
    background: url("../images/portrait.svg") no-repeat;
}
.image-radio-layout label.has-landscape::before {
    background: url("../images/landscape.svg") no-repeat;
}